.thruBlue {
    width: 10vw;
    height: auto;
    display: inline-block;
  }
  
  .thruBlue:hover {
    animation: 1 recolor 0.7s linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes recolor {
    0%,

    100% {
      filter: hue-rotate(215deg) grayscale(100%);
    }
  }

  .geeks {
    /* width: 450px; */
    /* height: 450px; */
    overflow: hidden;
    margin: 0 auto;
}
  
.geeks img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}
  
.geeks:hover img {
    transform: scale(1.5);
}